body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: blueviolet;
    border-color: aqua;
    border-top: 5mm;

}

h1 {
    font-size: 2em;
}

input {
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    margin: 10px;
}

#weatherInfo {
    margin-top: 20px;
}

#forecast {
    margin-top: 20px;
}
