body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Bookman Old Style', serif;
    font-size: 26pt;
}




.container {
    
    text-align:left;
    font-family: 'Bookman Old Style', serif;
    font-size: 14pt;
}



.row {
    display:flexbox;
    font-family: 'Times New Roman', serif;
    font-size: 10pt;
    font-weight: bolder;

}

h1 {
    font-size: 2em;
}

input {
    padding: 10px;
    margin: 10px;
}



.button {
  color: white;
  padding: 30px 40px;
  text-align: center;
  text-decoration: wavy;
  display: inline-block;
  font-size: 16px;
}


#weatherInfo {
    margin-top: 20px;
}

#forecast {
    margin-top: 20px;
}
